<mat-toolbar color="primary">
                <button mat-icon-button (click)="menuClicked.emit()">
                    <mat-icon>menu</mat-icon>
                </button>
                
                <div class="img-div"><img class="img-logo" src="assets/images/logo.jpg" routerLink="/home" /></div>
    
    <h1>InOut Management System</h1>

    <div class="user-info">
        <span>
            Hi,
            {{this.api.getUsername() | titlecase}}
        </span>
        <button mat-icon-button [matMenuTriggerFor]="userMenu">
            <mat-icon>account_circle</mat-icon>
        </button>
    </div>

    <mat-menu #userMenu="matMenu">
        <!-- <div *ngIf="isLogInUser()"> -->
        
        <button mat-menu-item routerLink="/login">
            <mat-icon>login</mat-icon>
            <span>Login</span>
        </button>
        <button mat-menu-item routerLink="/users/profile">
            <mat-icon>account_box</mat-icon>
            <span>Profile</span>
        </button>
        <button mat-menu-item (click)="logOut()">
            <mat-icon>logout</mat-icon>
            <span>Log Out</span>
        </button>
    </mat-menu>
</mat-toolbar>