:host {
  display: block;
  z-index: 3;
}

mat-toolbar {
  display: flex;
  justify-content: space-between;

  .user-info {
    display: flex;
    align-items: center;
    span {
      margin-right: 0.5rem;
    }
    mat-icon {
      transform: scale(1.4);
    }
  }
}

.img-logo{
  height: 68px;
  width: 400px;
  vertical-align: middle;
  margin-right: auto;
  margin-top: auto;
  margin-left: 20px;
  border-radius: 30px;
}

// .img-div{
//   position: relative;
// }

.div-banner{
  
}