<!DOCTYPE html>
<html>
    <body>
    <section class="wf-section">
        <h1 class="heading-2"><strong class="bold-text">Visitor Entry</strong></h1>
    </section>

    <section class="wf-section">
        <div>
            <div clas="column-6 w-col w-col-6">
                <form id="email-form" name="email-form" data-name="Email Form" method="get" class="form-2"
                    data-wf-page-id="64bd44f94bea106fb58830ce" data-wf-element-id="65a79274-1754-a00a-65f4-ac8be727c873">
                    <div class="w-row">
                        <div class="column-6 w-col w-col-6">
                            <div class="col-md-12">
                                <webcam [height]="180" [width]="200" [trigger]="invokeObservable" (imageCapture)="captureImg($event)"></webcam>
                            </div>
                            <div>
                                <button class="btn-danger" (click)="getSnapshot()">
                                    Capture Photo
                                </button>
                            </div>
                            <div class="col-md-12">
                                <!-- <img [src]="webcamImage.imageAsDataUrl" /> -->
                                <img [src]="visitorInfoObj.photo" />
                            </div>
                        </div>
                        <div class="column-6 w-col w-col-6">
                            <label for="name">Name</label>
                            <input type="text" class="w-input" maxlength="256" name="name" placeholder="" id="name"
                                [(ngModel)]="visitorInfoObj.name" />
                            <label for="whom-to-meet">Whom to Meet</label>
                            <input type="text" class="w-input" maxlength="256" name="whom-to-meet" data-name="whom-to-meet"
                                placeholder="" id="whom-to-meet" [(ngModel)]="visitorInfoObj.whomToMeet" required="" />
                            <label for="reason">Reason</label>
                            <input type="text" class="w-input" maxlength="256" name="reason" data-name="reason" placeholder="" id="reason"
                                [(ngModel)]="visitorInfoObj.reason" required="" />
                            <label for="mobile-number">Mobile Number</label>
                            <input type="text" class="w-input" maxlength="256" name="mobile-number" data-name="mobile-number" placeholder=""
                                id="mobile-number" [(ngModel)]="visitorInfoObj.mobile" />
                            <!-- <label for="name-3">Date</label>
                            <input type="text" class="w-input" maxlength="256" name="date" data-name="date" placeholder=""
                                [(ngModel)]="visitorInfoObj.date" id="date" />
                            <label for="name-3">In Time</label>
                            <input type="text" class="w-input" maxlength="256" name="in-time" data-name="in-time"
                                placeholder="" id="in-time" [(ngModel)]="visitorInfoObj.inTime" /> -->
                        </div>
                        <div class="w-col w-col-6">
                            <!-- <label for="reason">Reason</label>
                            <input type="text" class="w-input" maxlength="256" name="reason" data-name="reason"
                                placeholder="" id="reason" [(ngModel)]="visitorInfoObj.reason" required="" />
                            <label for="mobile-number">Mobile Number</label>
                            <input type="text" class="w-input" maxlength="256" name="mobile-number"
                                data-name="mobile-number" placeholder="" id="mobile-number"
                                [(ngModel)]="visitorInfoObj.mobile" /> -->
                            <!-- <label for="extra-field">Extra Field</label>
                            <input type="file" class="w-input" maxlength="256" name="extra-field" data-name="extra-field"
                                placeholder="" id="extra-field" required="" [(ngModel)]="visitorInfoObj.extra" />
                            <label for="out-time">OutTime</label>
                            <input type="text" class="w-input" maxlength="256" name="out-time" data-name="out-time"
                                placeholder="" id="out-time" required="" [(ngModel)]="visitorInfoObj.outTime" /> -->
                        </div>
                    </div>
                    <input type="submit" value="Submit" data-wait="Please wait..." class="submit-button w-button"
                        (click)="onVisitorEntry()" />
                    <button class="submit-button w-button" [disabled]="submitClicked" (click)="generatePDF()">Generate PDF</button>
                </form>
                <div class="w-form-done">
                    <div>Thank you! Your submission has been received!</div>
                </div>
                <div class="w-form-fail">
                    <div>Oops! Something went wrong while submitting the form.</div>
                </div>
            </div>
        </div>
    </section>
    <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.5.1.min.dc5e7f18c8.js?site=64bd44f94bea106fb5883072"
        type="text/javascript" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
        crossorigin="anonymous"></script>
    <script src="https://uploads-ssl.webflow.com/64bd44f94bea106fb5883072/js/webflow.8965f9278.js"
        type="text/javascript"></script>
</body>

</html>